@import url('https://fonts.googleapis.com/css?family=Roboto');

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }

html, body{ height: 100%; width:100%; background-color: black !important; font-family: 'Roboto', sans-serif; margin: 0; overflow: hidden;}
.contenedor{
     width: auto; height: auto; max-width: 1920px;  max-height: 1080px;  position:relative; margin-left:auto; margin-right:auto; display: block
}
.background{ width: auto; height: auto; max-width: 1920px;  max-height: 1080px; display: block; }
.background path{ fill: coral}

.pregunta{ 
  color: black;
  position: absolute; 
  text-transform: uppercase; font-size:35px;
  text-align: center;
  left: 370px; top: 131px;
  width:1150px; height:160px;
  text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.respuesta{
  position:absolute; top:873px;
  width: 485px;
  /* width:228px; */
  text-align: center; font-size:30px;
}
.answers {
	top:738px;
	position:absolute;
  width: 485px;
  /* width:228px; */ 
  font-size:40px;
  color:white;
}

.answer1{
	text-align: left;
}

.answer2{
	text-align: left;
	padding-left: 1.7em;
}
.answer3{
	text-align: left;
	padding-left: 3.4em;
}

.answer4{
	text-align: left;
	padding-left: 5em;
}

.correcta{
	text-align: center; font-size:130px; margin-top: -1em;
}

.azul{
  /*left:455px */ 
  
  left: 1180px; top: 595px;
}
.amarillo{
/* left:745px */
  left: 1180px; top: 350px;
  
}
.rojo{
/*  left:1023px */
  left: 260px; top: 350px;
}

.verde{
/*    left:1320px */
  left: 260px; top: 595px;
  
}
.naranja{left:1418px}

.reloj{ text-align: center; position: absolute; top: 500px; left: 825px; color:white; width: 280px; height:170px; font-size:100px}

.feedback { position: absolute; left: 5%; width: 90%; background: white; color: black; height: 200px; bottom:100px; font-size: 40px }

.newQuestion{ position: fixed; right: 2em; top: 2em; }
.fullscreen{ position: fixed; left: 2em; top: 2em; }
.btn{
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    font-family: inherit;
    font-size: 100%;
    padding: 1em 1.5em;
    border: 1px solid #999;
    border: transparent;
    text-decoration: none;

    display: inline-block;
    zoom: 1;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.btn-primary {
	background: rgb(66, 184, 221);
}

#fa-arrow-down path, .fa-arrow-down path { stroke: black; fill: white; }
.answers svg.fa-arrow-down {
    height: 1em;
    width: 1em;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}